{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "semi": false,
  "trailingComma": "none",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/animate-ui/(.*)$",
    "^@/components/features/(.*)$",
    "^@/components/forms/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/shared/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/providers/(.*)$",
    "^@/stores/(.*)$",
    "^@/styles/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/validations/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "tailwindFunctions": ["cva", "cx", "cn", "clsx", "tv", "twMerge"],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-packagejson"
  ]
}
